
.frm-container{
	display: flex;
	align-items : center;
	justify-content: center;
	align-self: center;
	width: 100%;
	height: 100%;
}
mat-card{
	max-width: 400px;
	margin: 2em auto;
}
.username{
	width : 100%;
}
.password{
	width : 100%;
}
mat-card-header{
	justify-content: center;
}
.button-panel{
	text-align: right;
}