<div class="frm-container">
	<mat-card>

	<mat-card-content>
		
		<form novalidate [formGroup]= "loginForm" (ngSubmit)= "loginSubmit()">
			<mat-form-field class="username">
				<input
					matInput
					formControlName="username"
					placeHolder="UserName"
					required>
			<mat-error *ngIf = "!loginForm.get('username').valid">
				username is required
			</mat-error>
			</mat-form-field>
			<mat-form-field class="password">
				<input
					matInput
					formControlName="password"
					placeHolder="Password"
					required>
			<mat-error *ngIf = "!loginForm.get('password').valid">
				password is required
			</mat-error>
			</mat-form-field>
			<button
			type = 'submit'
			mat-raised-button
			color='primary'
			>Submit</button>

			<div class="button-panel">
			</div>
		</form>
	</mat-card-content>

	</mat-card>

</div>