<!-- Label to display any error messages -->
<label class="error-message">{{ errMessage }}</label>

<!-- Expansion panel to add new notes -->

<!-- To add notes -->



<h3>Note Details </h3>

  <mat-expansion-panel> 
  
<mat-expansion-panel-header>
	
	<mat-panel-title>Take a note</mat-panel-title>
</mat-expansion-panel-header> 

<div class = "note-form">

<mat-form-field >
     	<input matInput  class="note-full-width form-control" name = "title" placeholder="title" [(ngModel)]="note.title" required >
     	
     	</mat-form-field>
     	
<mat-form-field >
     	<textarea matInput  class="note-full-width form-control"  name = "text" placeholder="text" [(ngModel)]="note.text" required></textarea>
     
     	</mat-form-field>
    
 <button type = "submit" mat-button (click)="addNotes()" >Done</button>

</div>

   
 </mat-expansion-panel>

 
  

<!-- Load and display the collection of notes from server as Material Cards with card title set to note title and card content set to note text  -->
 <p *ngFor="let note of notes" >
 <mat-card-title>{{note.title}}</mat-card-title>
 <mat-card>Text : {{note.text}}</mat-card>
    	